html, body{
    margin: 0;
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a2bee4;
}
.title{
    width: 100%;
    height: 5%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.subtitle{
    width: 100%;
    height: 5%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}
/*Caixas em geral*/
.container{
    width: 90%;
    height: 90%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
.box{
    width: 15%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}
.box > input:focus{
    outline: none;
    border-bottom: 1px solid #1A73E8;
}
.info{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 100%;
    height: 60%;
}
.geral{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 30px;
    margin-bottom: 10px;
}

/*Botões e inputs*/
.text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text > span {
    margin-right: 5px;
}
.answ{
    width: 50%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: center;
    background-color: #ffffff;
}
.inp{
    width: 50px;
    height: 100%;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: center;
    background-color: #ffffff;
}
.answ{
    width: 50px;
    border-bottom: 1px solid #d6d3d3;
}
.btn{
    width: 10%;
    height: 8%;
    border: 2px solid #a2bee4;
    border-radius: 5px;
    background-color: #ffffff;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px #a2bee4;
}
